<footer>
<div>
    <h3>Aide et Contact</h3>
</div>
<div>
   <h3>A propos de nous</h3>
</div>
<div>
   <h3>Carte cadeaux et bon</h3>
   <ul>
       <li><a href="">Comment avoir une carte?</a></li>
       <li><a href="">Valider vos bon</a></li>
       <li><a href="">Offrir un cadeau</a></li>
   </ul>
</div>
</footer>